<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.ProductRepository">
	
	<select id="selectProductList" parameterType="com.example.demo.dto.ProductDto" resultType="com.example.demo.dto.ProductDto">
		SELECT
			name,
			price,
			stock,
			created_at AS createdAt
		FROM product
		<where>
			<if test="startDate != null and startDate != ''">
				created_at &gt;= CONCAT(#{startDate}, ' 00:00:00')
			</if>
			<if test="endDate != null and endDate != ''">
				AND created_at &lt;= CONCAT(#{endDate}, ' 23:59:59')
			</if>
		</where>
		ORDER BY created_at DESC
	</select>
</mapper>
